<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="real_barista" default="true" />


    <group if="$(arg real_barista)">
      <node name="rosserial_python_node" pkg="rosserial_python" type="serial_node.py"
            respawn="false" output="screen">
            <!--<param name="port" value="/dev/ttyACM0"/>-->
            <param name="port" value="/dev/arduino"/>
            <param name="baud" value="57600"/>
      </node>
    </group>

    <group unless="$(arg real_barista)">
        <include file="$(find barista_gazebo)/launch/simulated_load_sensor_start.launch"/>
    </group>


    <node name="load_value_test_node" pkg="barista_systems" type="load_sensor.py"
        respawn="false" output="screen">
    </node>



</launch>
