<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="real_barista" default="false" />


    <group unless="$(arg real_barista)">
        <node name="sim_diagnostics_pub_node" pkg="barista_gazebo" type="sim_diagnostics_pub.py"
        respawn="false" output="screen">
        </node>
    </group>


    <node name="battery_charge_pub_node" pkg="barista_systems" type="battery_charge_pub.py"
        respawn="false" output="screen">
    </node>



</launch>
