<?xml version="1.0"?>
<model>
  <name>simple10x10</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Miguel Angel Rodriguez</name>
   <email>duckfrost@theconstructsim.com</email>
  </author>

  <description>
    Simple 10 by 10 metres world with baked textures.
  </description>
</model>
